{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    1 minute de lecture
  {% elsif words < 360 %}
    1 minute de lecture
  {% else %}
    {{ words | divided_by:180 }} minutes de lecture
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | strip_html | number_of_words %}
  {% if words < 180 %}
    1 minute de lecture
  {% elsif words < 360 %}
    1 minute de lecture
  {% else %}
    {{ words | divided_by:180 }} minutes de lecture
  {% endif %}
{% endif %}
